<!--<form (submit)="createAdventure()">-->
<!--  <input [(ngModel)]="adventureName" name="adventureName" type="text" placeholder="name" />-->
<!--  <input [(ngModel)]="dateWent" name="dateWent" type="text" placeholder="date" />-->
<!--  <input [(ngModel)]="adventureDescription" name="adventureDescription" type="text" placeholder="description"/>-->
<!--  <input [(ngModel)]="countryName" name="countryName" type="text" placeholder="country"/>-->
<!--  <input class="waves-effect waves-light btn" type="submit"/>-->
<!--</form>-->

<!--<div *ngIf="adventure">-->
<!--  <h4>All Adventures</h4>-->
<!--  <ul class="collection">-->
<!--    <li class="collection-item" *ngFor="let adventure of adventure">-->
<!--      <a routerLink="/adventures/{{adventure.id}}">{{adventure.name}}</a>-->
<!--      <a class="secondary-content" (click)="deleteAdventure(adventure)">delete</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->


