<p>update works!</p>
<!--<div class="updateAdventure-container">-->
<!--  <input [(ngModel)]="adventureName" value="{{adventure.adventureName}}" name="adventureName" type="text" placeholder="name" />-->
<!--  <input [(ngModel)]="dateWent" name="dateWent" type="text" placeholder="date" />-->
<!--  <input [(ngModel)]="adventureDescription" name="adventureDescription" type="text" placeholder="description"/>-->
<!--  <input [(ngModel)]="countryName" name="countryName" type="text" placeholder="country"/>-->
<!--  <input class="waves-effect waves-light btn" type="submit"/>-->
<!--  <button (click)="updateAdventure(adventure)">update</button>-->
<!--</div>-->
