
<div class="updateAdventure-container">
  <input [(ngModel)]="this.adventure.adventureName" name="adventureName" type="text" placeholder="name" />
  <input [(ngModel)]="this.adventure.dateWent" name="dateWent" type="text" placeholder="date" />
  <input [(ngModel)]="this.adventure.adventureDescription" name="adventureDescription" type="text" placeholder="description"/>
  <input [(ngModel)]="this.adventure.countryName" name="countryName" type="text" placeholder="country"/>
<!--  <input class="waves-effect waves-light btn" type="submit"/>-->
  <button (click)="updateAdventure(this.adventure)">update</button>
</div>
